---

title: About this page for you
layout: base.njk

---

<div class="container">
  <h2>This page is for you!</h2>
  <p>It was made for you uisng HTML, CSS and JAVASCRIPT. And served as a Jamstack site.</p>
</div>

{% for item in news %}
  <a href="/{{ item.country}}">{{ item.country }}</a>
{%  endfor %}
